:root {
    --border-color:#DBDBDB;
}

.Posts__container {
    margin-top:22px;
    max-width: 550px;
}

.Posts__images {
    border: 1px solid var(--border-color);

}

.images {
    width:100%;
    object-fit: contain;
    
}

.Posts__details {
   
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  padding:10px;

}

.user__avatar {
    margin-right: 10px;
}

.user__caption {
    padding: 20px;
}




